<pre>





</pre>
<footer class="fixed-bottom bg-dark" style="color:#dddddd;">
        <div class="container">
            <pre></pre>
            <h4>Whats Up?</h4>
            <p>If we can help you with anything, feel free to reach out to us here: <a href="#">Contact us</a></p>
            <p>Feel free to offer any suggestions on the site, we are always happy invest in ways to make your experience better! Oh, here's pictures of <a href="https://www.google.com/search?q=puppy+pictures&source=lnms&tbm=isch&sa=X&ved=0ahUKEwj3hNni48zeAhVQTd8KHXA7CnwQ_AUIEygB&biw=1920&bih=981">puppies</a>.</p>
        </div>
</footer>